
/* wrap graygradation_88
-------------------------------------------------------------- */

#contents_box {
background:#FFFFFF none repeat scroll 0 0;
}
.graygradation_88 .wrap1{
	padding:6px 0px 0px;
	padding-bottom:4px; /* 2box_over for ie6 */
	margin:0px -3px 0px -1px;
	border-width:0px;
}
*html .graygradation_88 .wrap1{
	padding:5px 0px 0px;
}
.graygradation_88 .wrap2{
	padding:0px 0px 8px;
	border-width:0px;
}
.graygradation_88 .wrap3{
	padding:0px 4px 0px 2px;
	border-width:0px;
}

*html .graygradation_88 .box_inner{
	padding:0px 4px 0px 2px;
}

.span-24 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_96.png") 0px bottom no-repeat ;
}
.span-24 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_95.png") repeat-y ;
}
.span-24 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_94.png") -2px 0px no-repeat ;
}
.span-24 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_93.png") 0px -6px no-repeat ;
}
.span-23 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_92.png") 0px bottom no-repeat ;
}
.span-23 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_91.png") repeat-y ;
}
.span-23 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_90.png") -2px 0px no-repeat ;
}
.span-23 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_89.png") 0px -6px no-repeat ;
}
.span-22 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_88.png") 0px bottom no-repeat ;
}
.span-22 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_87.png") repeat-y ;
}
.span-22 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_86.png") -2px 0px no-repeat ;
}
.span-22 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_85.png") 0px -6px no-repeat ;
}
.span-21 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_84.png") 0px bottom no-repeat ;
}
.span-21 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_83.png") repeat-y ;
}
.span-21 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_82.png") -2px 0px no-repeat ;
}
.span-21 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_81.png") 0px -6px no-repeat ;
}
.span-20 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_80.png") 0px bottom no-repeat ;
}
.span-20 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_79.png") repeat-y ;
}
.span-20 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_78.png") -2px 0px no-repeat ;
}
.span-20 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_77.png") 0px -6px no-repeat ;
}
.span-19 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_76.png") 0px bottom no-repeat ;
}
.span-19 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_75.png") repeat-y ;
}
.span-19 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_74.png") -2px 0px no-repeat ;
}
.span-19 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_73.png") 0px -6px no-repeat ;
}
.span-18 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_72.png") 0px bottom no-repeat ;
}
.span-18 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_71.png") repeat-y ;
}
.span-18 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_70.png") -2px 0px no-repeat ;
}
.span-18 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_69.png") 0px -6px no-repeat ;
}
.span-17 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_68.png") 0px bottom no-repeat ;
}
.span-17 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_67.png") repeat-y ;
}
.span-17 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_66.png") -2px 0px no-repeat ;
}
.span-17 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_65.png") 0px -6px no-repeat ;
}
.span-16 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_64.png") 0px bottom no-repeat ;
}
.span-16 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_63.png") repeat-y ;
}
.span-16 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_62.png") -2px 0px no-repeat ;
}
.span-16 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_61.png") 0px -6px no-repeat ;
}
.span-15 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_60.png") 0px bottom no-repeat ;
}
.span-15 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_59.png") repeat-y ;
}
.span-15 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_58.png") -2px 0px no-repeat ;
}
.span-15 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_57.png") 0px -6px no-repeat ;
}
.span-14 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_56.png") 0px bottom no-repeat ;
}
.span-14 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_55.png") repeat-y ;
}
.span-14 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_54.png") -2px 0px no-repeat ;
}
.span-14 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_53.png") 0px -6px no-repeat ;
}
.span-13 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_52.png") 0px bottom no-repeat ;
}
.span-13 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_51.png") repeat-y ;
}
.span-13 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_50.png") -2px 0px no-repeat ;
}
.span-13 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_49.png") 0px -6px no-repeat ;
}
.span-12 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_48.png") 0px bottom no-repeat ;
}
.span-12 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_47.png") repeat-y ;
}
.span-12 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_46.png") -2px 0px no-repeat ;
}
.span-12 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_45.png") 0px -6px no-repeat ;
}
.span-11 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_44.png") 0px bottom no-repeat ;
}
.span-11 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_43.png") repeat-y ;
}
.span-11 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_42.png") -2px 0px no-repeat ;
}
.span-11 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_41.png") 0px -6px no-repeat ;
}
.span-10 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_40.png") 0px bottom no-repeat ;
}
.span-10 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_39.png") repeat-y ;
}
.span-10 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_38.png") -2px 0px no-repeat ;
}
.span-10 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_37.png") 0px -6px no-repeat ;
}
.span-9 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_36.png") 0px bottom no-repeat ;
}
.span-9 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_35.png") repeat-y ;
}
.span-9 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_34.png") -2px 0px no-repeat ;
}
.span-9 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_33.png") 0px -6px no-repeat ;
}
.span-8 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_32.png") 0px bottom no-repeat ;
}
.span-8 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_31.png") repeat-y ;
}
.span-8 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_30.png") -2px 0px no-repeat ;
}
.span-8 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_29.png") 0px -6px no-repeat ;
}
.span-7 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_28.png") 0px bottom no-repeat ;
}
.span-7 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_27.png") repeat-y ;
}
.span-7 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_26.png") -2px 0px no-repeat ;
}
.span-7 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_25.png") 0px -6px no-repeat ;
}
.span-6 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_24.png") 0px bottom no-repeat ;
}
.span-6 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_23.png") repeat-y ;
}
.span-6 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_22.png") -2px 0px no-repeat ;
}
.span-6 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_21.png") 0px -6px no-repeat ;
}
.span-5 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_20.png") 0px bottom no-repeat ;
}
.span-5 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_19.png") repeat-y ;
}
.span-5 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_18.png") -2px 0px no-repeat ;
}
.span-5 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_17.png") 0px -6px no-repeat ;
}
.span-4 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_16.png") 0px bottom no-repeat ;
}
.span-4 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_15.png") repeat-y ;
}
.span-4 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_14.png") -2px 0px no-repeat ;
}
.span-4 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_13.png") 0px -6px no-repeat ;
}
.span-3 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_12.png") 0px bottom no-repeat ;
}
.span-3 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_11.png") repeat-y ;
}
.span-3 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_10.png") -2px 0px no-repeat ;
}
.span-3 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_09.png") 0px -6px no-repeat ;
}
.span-2 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_08.png") 0px bottom no-repeat ;
}
.span-2 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_07.png") repeat-y ;
}
.span-2 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_06.png") -2px 0px no-repeat ;
}
.span-2 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_05.png") 0px -6px no-repeat ;
}
.span-1 .graygradation_88 .wrap2{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_04.png") 0px bottom no-repeat ;
}
.span-1 .graygradation_88 .wrap3{	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_03.png") repeat-y ;
}
.span-1 .graygradation_88 .box_inner{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_02.png") -2px 0px no-repeat ;
}
.span-1 .graygradation_88 .wrap1{
	background:transparent url("/images/default/wrap/graygradation_88/images/graygradation_88_wrap_01.png") 0px -6px no-repeat ;
}

