<% content_for(:sub_title) do %>
<%= AppResources[:init][:service_name]%> とは?
<% end %>

<div style="text-align:left;">
	unshiuに関する開発コミュニティです。unshiuに限らずrailsに興味のある方、CGMサイトを作成の方と情報共有の場として用意しました。
	ご要望、お問い合わせがありましたら問い合わせフォーム、もしくは unshiu@gmail.com へ。
	<br/>
	なおこのサービスのソースもgithub上でオープンソースとして公開されています。pull request大歓迎です。
</div>