<% content_for(:sub_title) do %>
第１条（総則）
<% end %>

<div style="text-align:left;">
本規約は株式会社ドリコムまたは当社グループ会社（以下「当社グループ」という）が提供するサービス（以下「サービス」という）を、会員（以下「会員」という）が利用することについての一切について適用します。
なお、当社グループが提供する個別のサービスについての利用契約は、当社グループのうち当該サービスを提供する会社と会員との間に成立し、それ以外の会社は契約当事者となるわけではありません。従って、会員に対して、個別のサービスに関して本規約上の権利義務を有するのは、当社グループのうち当該サービスを提供する会社であり、それ以外の会社は、当該サービスについての本規約上の権利義務を有するものではありません。
</div>