<% content_for(:sub_title) do %>
第２条（会員および登録）
<% end %>

<div style="text-align:left;">
	本規約でいう会員とは、本規約を承認し、かつ当社グループが承認または提供するサービスを利用する個人をいいます。
	会員は当社グループの指定する方式で会員登録をするものとし、その時点で本規約の内容を承諾しているものとします。
</div>