<% content_for(:sub_title) do %>
第５条（入会の不承認）
<% end %>

<div style="text-align:left;">
当社グループは、審査の結果、入会申込者が以下のいずれかに該当することがわかった場合、その者の入会を承認しないことがあります。<br/>
<br/>
1. 入会申込者が実在しない場合。<br/>
2. 入会申込をした時点で、当社グループが提供するサービスについて利用規約の違反等により会員資格の停止処分中であり、または過去に利用規約の違反等で除名>処分を受けたことがある場合。<br/>
3. 入会申込の際の申告事項に、虚偽の記載、誤記、または記入漏れがあった場合。<br/>
4. 当社グループの業務の遂行上または技術上支障がある場合。<br/>
</div>