<% content_for(:sub_title) do %>
第６条（パスワード管理と責任）
<% end %>

<div style="text-align:left;">
	会員は会員ＩＤおよびパスワードの機密を保持する義務があります。
	会員は、自己の個人認証情報および個人認証を条件とするサービスを利用する権利を、他者に使用させず、他者と共有あるいは他者に許諾しないものとします。
	会員の個人認証がなされたサービスの利用やそれに伴う一切の行為は、本項に反してなされた他者によるサービスの利用やそれに伴う一切の行為も含め、当該利用や行為が会員自身の行為であるか否かを問わず、会員による利用および行為とみなします。
	会員は、自己のＩＤ、パスワードを含む個人認証情報の管理について一切の責任をもつものとします。
</div>