<% content_for(:sub_title) do %>
第７条（会員のプライバシー）
<% end %>

<div style="text-align:left;">
会員の個人情報とは、会員の登録情報、または会員のサービスの利用に関する情報・デ−タであって、会員個人を識別することのできる情報を言います。<br/>
当社グループは、次の場合を除いて、第三者に会員の個人情報を開示しません。<br/>
<br/>
1. 本人の承諾のある場合。<br/>
2. 会員の登録コンテンツに対する相当な理由に基づく申し入れがあり、開示が必要と当社グループが判断した場合。<br/>
3. お客様の生命、身体または財産の保護のために緊急に必要がある場合。<br/>
4. 共同利用の場合[（詳細については、<a href='http://www.drecom.co.jp/privacy'>こちら</a>をご覧下さい。）]<br/>
<br/>
当社グループは次の場合に会員個人を識別できない状態で第三者に情報を開示する場合があります。<br/>
<br/>
1. 統計的分析結果などの個人を特定しない形での情報開示の場合。<br/>
2. 広告主にターゲットをしぼった、より効果的な広告手段を提供する場合。<br/>
3. サービスの利用詳細に関する分析を行う場合。<br/>
4. パートナーや広告主となりうる第三者にサービスを説明する場合やその他合法的な目的の場合。<br/>
   当社グループはサービス向上の目的のために信頼ある第三者企業に会員の個人情報等を引き継ぐことができます。<br/>
	<br/>
会員が退会するためには、退会する旨の申請を行い、弊社がこれを承諾した時点で、会員資格を喪失するものとします。<br/>
会員は、退会時にポイント等の取得権利などを失うものとします。また、退会した会員が再度会員登録を行った場合でも、退会時に失ったポイント等の取得権利などは復活しないものとします。<br/>
</div>