<% content_for(:sub_title) do %>
第８条（データの管理）
<% end %>

<div style="text-align:left;">
	会員はサービスを利用して作成・保存したデータ・ファイルなどについて、自己の責任において保存するものとします。
	会員はデータ・ファイルの保存、整合性が確実でないことを承諾するものとします。
	当社グループは何らかの原因でデータが消失または改ざんされた場合の損害、責任について一切責任を追わないものとします。
</div>