<% content_for(:sub_title) do %>
第９条（禁止事項）
<% end %>

<div style="text-align:left;">
会員によるサービスの利用に際し、次の各号に該当する行為を禁止します。<br/>
<br/>
1. 他の会員、第三者の著作権、肖像権、その他知的財産権を侵害する行為。<br/>
2. 他の会員、第三者の財産、信用、プライバシー等を侵害する行為。<br/>
3. 真偽を問わず、他の会員、第三者を誹謗中傷する行為。<br/>
4. 個人情報（メールアドレス、住所、電話番号、その他プライベート情報）を、当社グループおよび当該個人の事前の承諾なく、他の会員や第三者に送付、伝達、>開示、複写、書き込みしたりする行為。<br/>
5. 他の会員・第三者の著作物を当社グループの事前の承諾なく、他の会員や第三者に送付、開示、複写、書き込みしたりする行為。<br/>
6. ウィルス、ハッキングなどにより当社グループの運営を妨害または破壊する行為。<br/>
7. おどし、わいせつ、名誉毀損、差別行為。政治活動・宗教活動、またはそれらにつながる行為。<br/>
8. 氏名やアドレスを借用してコンピュータに侵入する行為。<br/>
9. 当社グループの許諾なく当社グループの名称を使用する行為。<br/>
10. サービスないし当社グループの運営を妨げる行為、当社グループの信頼を毀損する行為、または、その恐れのある行為。<br/>
11. 公序良俗に反する行為、犯罪行為またはそれらと密接に関連する行為。<br/>
12. 法律、法令違反またはそれらに密接に関連する行為。<br/>
13. 猥褻な映像・音声・文字等の情報を提供する行為。<br/>
14. 当社グループが不適切と判断した広告バナー、広告テキストまたは広告ハイパーリンクの表示、または広告の表示のみを目的としてサービスを使用する行為。<br/>
15. その他サービスの目的に反する行為。<br/>
</div>