<% content_for(:sub_title) do %>
第10条（禁止行為に対する措置）
<% end %> 

<div style="text-align:left;">
故意過失を問わず、会員が当社グループが提供するサービスの利用において前条各号の行為を行ったと当社グループが判断した場合、当社グループは、事前に通告することなく、次の措置のいずれか、または、複合させた措置を取ることができます。<br/>
<br/>
1. 一時的なサービスの利用停止。<br/>
2. 会員登録の抹消（完全退会）。<br/>
3. 電子メールでの注意・勧告。<br/>
4. 1〜3の処置を講じたことに関する電子メールでのアナウンス。<br/>
</div>