<% content_for(:sub_title) do %>
第11条（サービスの提供）
<% end %>

<div style="text-align:left;">
	当社グループは、本規約のほか別途定める個別のサービス規定等に基づき、会員にサービスを提供します。
	当社グループは、会員の承諾なく、提供サ−ビスの内容を変更する（改廃を含む）ことができます。
	また、会員は、ウェブや、メールなど、すべてのコンテンツへの広告掲載・バナー表示が行われることを承諾します。
</div>