<% content_for(:sub_title) do %>
第12条（サービスの中断・停止・廃止
<% end %>

<div style="text-align:left;">
当社グループは、以下の各号に該当する場合は、事前に通知することなく、一時的にサービスを中断もしくは停止・廃止することができます。<br/>
<br/>
1. システムの保守・工事を行う場合。<br/>
2. 天変地変、火災、戦争、暴動、騒動、労働協議等これに準ずる事態の発生した場合。<br/>
3. システムのトラブル等による場合。<br/>
4. 当社グループないしサービスを構成する関連機関が利用する電力の提供が中断された場合。<br/>
5. サービスを構成するインターネットサーバーが接続する上流ネットワークのルーティングトラブル等、インターネット回線に障害が起きた場合。<br/>
6. その他、上記に準ずる運用上ないし技術上の理由のある場合。<br/>
</div>