<% content_for(:sub_title) do %>
第13条（著作権等）
<% end %>

<div style="text-align:left;">
会員は、当社グループまたは広告主によってサービスに提供されるテキスト、ソフトウェア、音楽、音声、写真、グラフィックス、ビデオ、ページレイアウト、デザインやその他のマテリアルを含む一切のコンテンツは、それぞれの著作権、商標権、サービスマークに関する権利、特許権、またはその他の所有権および法律によって保護されていることを確認します。
サービス上で会員が作成したコンテンツの著作権、商標権、サービスマークに関する権利、特許権、またはその他の所有権は会員に帰属します。ただし、当社グループはサービスの宣伝または広告、利用促進等を目的として、会員の承諾を得ることなく、会員著作物の情報を自由に利用することができるものとします。
</div>