<% content_for(:sub_title) do %>
第14条（免責）
<% end %>

<div style="text-align:left;">
1.当社グループは、サービスの全ての閲覧者に対し、各会員がサービスに利用において掲載するすべての情報について、その正確性、有用性、最新性、適切性などその内容について何ら法的保証をするものではありません。<br/>
2.当社グループは、会員に対し、サービスの利用に起因又は関連して会員が被った損害について、何ら責任を負わないものとします。<br/>
3.会員がサービスを利用して掲載したすべての情報について、当社グループが不適切と判断した場合には、当社グループは、当該会員に対して理由を開示することなく、当社グループの裁量にて、当該情報の削除を行うことがあります。ただし、当社グループは、本項の規定をもって、サービスに会員が掲載する情報の監視及び検査を行うことを何ら保証するものではありません。<br/>
4.当社グループは、会員によるサービスの利用に起因又は関連して会員が他の会員又は第三者に及ぼした損害、および第三者によるサービスの閲覧に起因又は関連して第三者が会員に及ぼした損害（悪意を持った第三者が何らかの方法で個人情報を収集し、そのことによって、会員が損害を被った場合を含む）について、一切責任を負わないものとします。<br/>
5.当社グループは、会員に対し、サービスの品質又は性能については如何なる保証も行いません。また、当社グループは、会員に対し、サービスの一時停止、中止、欠陥及びそれらに起因又は関連して発生したすべての損失や損害（入力したデータが何らかの原因で消失した場合を含む）については、一切責任を負いません。<br/>
<br/>
</div>