<% content_for(:sub_title) do %>
第15条（紛争の解決）
<% end %>

<div style="text-align:left;">
本規約に定めのない事項または本規約の解釈に疑義がある場合、もしくは会員と当社グループの間に紛争が生じた場合、信義に則り誠実にこれを解決するものとします。<br/>
<br/>
1. システムの保守・工事を行う場合。本規約の準拠法は、日本国法とします。<br/>
2. 会員と当社グループの間で訴訟の必要が生じた場合、東京地方裁判所を第一審の管轄裁判所とします。<br/>
3. 会員が当社グループに対し損害賠償請求権等の何らかの請求権を有する場合、会員は、その権利につき、その発生原因が生じた日から１年以内に権利行使をしなければ、当該権利は失効するものとします。<br/>
</div>